### Metrics to Use:
- Number of people naming their baby "Karen" -> Predicting public trust in Government
- Tiktok dance trends -> predict youth unemployment rate
- Video game FPS popularity -> predict crime rate
- Annual sales of crocs sandals -> predict global warming rates
- Spotify's most played breakup song -> Predicting divorce rates

In [7]:
import numpy as np
import pandas as pd
import tulipy as ti
import pandas_ta as ta

In [89]:
df = pd.read_csv(r"C:\Users\zhatz\Documents\GitHub\Data-Science-Masters\Mathematics of Finance\Final_project_stock_data.csv")
df.head()

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap
0,AAPL,2023-07-12 04:00:00+00:00,189.68,191.7000,188.470,189.77,60757160.0,652270.0,189.984281
1,AAPL,2023-07-13 04:00:00+00:00,190.50,191.1900,189.780,190.54,41348909.0,468081.0,190.565107
2,AAPL,2023-07-14 04:00:00+00:00,190.23,191.1799,189.630,190.69,41622330.0,513236.0,190.461122
3,AAPL,2023-07-17 04:00:00+00:00,191.90,194.3200,191.810,193.99,50546738.0,603051.0,193.325530
4,AAPL,2023-07-18 04:00:00+00:00,193.35,194.3300,192.415,193.73,48357948.0,544724.0,193.375703

In [12]:
df.ta.cg()

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1967   -5.451461
1968   -5.451690
1969   -5.458007
1970   -5.452978
1971   -5.501480
Name: CG_10, Length: 1972, dtype: float64

In [13]:
getattr(df.ta, "ema")

In [90]:
indicators = [{"name": "ema", "params":{}}, {"name": "sma", "params":{"length":16}}, {"name": "macd", "params":{"fast":8, "slow":17, "signal":9}}]

In [91]:
def compute_indicators(indicators_df, required_indicators):
    for ind in required_indicators:
        ind["column_name"] = []
        name = ind['name']
        params = ind.get('params', {})
        func = getattr(indicators_df.ta, name)
        result = func(**params, append=True)
        if isinstance(result, pd.Series):
            ind["column_name"].append(result.name)
        else:
            ind["column_name"].extend(list(result.columns))
    return indicators_df, required_indicators

In [92]:
data, res = compute_indicators(df, indicators)

In [93]:
res

[{'name': 'ema', 'params': {}, 'column_name': ['EMA_10']},
 {'name': 'sma', 'params': {'length': 16}, 'column_name': ['SMA_16']},
 {'name': 'macd',
  'params': {'fast': 8, 'slow': 17, 'signal': 9},
  'column_name': ['MACD_8_17_9', 'MACDh_8_17_9', 'MACDs_8_17_9']}]